body {
    background-color: #f8d8a5;
    font-family: 'Poppins', sans-serif;
    color: #635a49;

.capa {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.capa__foto {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    border: 6px #91be95 solid;
}

.capa__nome {
    font-family: 'Damion', cursive;
    text-align: center;
    width: 100%;
    max-width: 350px;
    font-size: 52px;
    font-weight: 400;
    color: #91be95;
    margin: 16px 0;
}

.capa__descricao {
    font-size: 16px;
    font-weight: 400;
    color: #313131;
    margin: 0;
    width: 100%;
    max-width: 350px;
    text-align: center;
}

.subtitulo {
    color:#91be95;
    font-family: 'Damion', cursive;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    padding: 8px;
    margin: 16px 0;
    box-sizing: 100px;
    border-radius: 3px;
}

.receita {
    background-color: #ffb294;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.receita img {
    border-radius: 50%;
    border: 6px #3a3a3a solid;
    width: 350px;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 100%;
    border-radius: 5px;
}
.receita h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.receita p {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
}
.receita-colunas {
    display: flexbox;
    justify-content:space-around;
    gap: 20px;
}

header {
    font-size: 14px;
    font-weight: 400;
    color: #313131;
    display: flex;
    text-align: right;
    
}

footer {
    font-size: 14px;
    font-weight: 400;
    color: #313131;
    display: flex;
    text-align: center;
    justify-content: center;
    
}

.header__link {
    text-align: end;
    align-items: end;
}

@keyframe pulsar 
.icone__footer {
}
    


