body {
    background-color: #f8d8a5;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: #635a49;
    position: relative;
}

.navbar {
    background-color: #91be95;
    display: flex;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar__link {
    display: inline;
    text-decoration: none;
    padding-right: 8px;
    margin-left: auto;
    margin-right: auto;
    color: #313131;
}

hr {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 1px;
    width: 700px;
    background: #313131;
}

.capa {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.capa__foto {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
    border: 1px #313131 solid;
}

.capa__nome {
    font-family: 'Damion', cursive;
    text-align: center;
    width: 100%;
    max-width: 350px;
    font-size: 52px;
    font-weight: 400;
    color: #91be95;
    margin: 16px 0;
    -webkit-text-stroke: 1px #313131;
}

.capa__descricao {
    font-size: 16px;
    font-weight: 400;
    color: #313131;
    margin: 0;
    width: 100%;
    max-width: 350px;
    text-align: center;
}

.subtitulo {
    color:#91be95;
    font-family: 'Damion', cursive;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    padding: 8px;
    margin: 16px 0;
    box-sizing: 100px;
    border-radius: 3px;
}

.receita {
    background-color: #ffb294;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.receita img {
    border-radius: 50%;
    border: 6px #3a3a3a solid;
    width: 350px;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 100%;
    border-radius: 5px;
}
.receita h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.receita p {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
}
.receita-colunas {
    display: flexbox;
    justify-content:space-around;
    gap: 20px;
}

footer {
    color: #313131;
    width: 100%;
    height: 30px;
    background-color: #91be95;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-shrink: 0;
    overflow: hidden;
    
}
 
.icone--texto {
    margin: 0 8px;
    animation: pulsar 1s infinite alternate;
}

.forms {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.bt {
    background-color: #ffb294;
    border: none;
    color: #313131;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    min-width: auto;
    width: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


}

@keyframes pulsar {
    0% {
        transform: scale(.8);
    }

    100% {
        transform: scale(1.2);
    }
}


