body {
    background-color: #313131;
    font-family: 'Poppins', sans-serif;
    color: #f4f4f4;
}

.capa {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.capa__foto {
    width: 100%;
    max-width: 200px;
    border-radius: 50%;
    border: 6px #4d4d4d solid;
}

.capa__nome {
    font-family: 'Damion', cursive;
    text-align: center;
    width: 100%;
    max-width: 350px;
    font-size: 52px;
    font-weight: 400;
    color: #e68298;
    margin: 16px 0;
}

.capa__descricao {
    font-size: 16px;
    font-weight: 400;
    color: #f4f4f4;
    margin: 0;
    width: 100%;
    max-width: 350px;
    text-align: center;
}

.subtitulo {
    color: #e68298;
    font-family: 'Damion', cursive;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    padding: 8px;
    margin: 16px 0;
    box-sizing: 100px;
    border-radius: 3px;
}

.receita {
    background-color: #5a5a5a;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.receita img {
    border-radius: 50%;
    border: 6px #3a3a3a solid;
    width: 30%;
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 100%;
    border-radius: 5px;
}
.receita h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
.receita p {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
}
.receita-colunas {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

